{% extends "base.html" %}
{% block header %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link href="/static/css/custom.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
            <div class="row">
                <div class="col-xs-10"><h3>Predicted Delay</h3></div>
                <div class="col-xs-2">
                    <div class="input-group date">
                      <input type="text" class="form-control" value="{{default_date}}">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
            </div>
        </h3>
      </div>
    </div>
    <div class="panel-body">
        <div class="col-xs-9">
            <div class="ct-chart ct-octave"></div>
        </div>
        <div class="col-xs-3">
            <div class="row">
                <h3>{{dow}} {{default_date}}</h3>
            </div>
            <div class="row">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a href="/predict/{{last_week}}/{{location|e}}/{{direction}}" class="btn btn-default btn-sm" role="button">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </a>
                    <a href="/predict/{{yesterday}}/{{location|e}}/{{direction}}" class="btn btn-default btn-sm" role="button">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </a>
                    <a href="/predict/{{tomorrow}}/{{location|e}}/{{direction}}" class="btn btn-default btn-sm" role="button">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                    <a href="/predict/{{next_week}}/{{location|e}}/{{direction}}" class="btn btn-default btn-sm" role="button">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                    </div>
            </div>
            <div class="row top30"></div>
            <div class="row">
                <div class="btn-group btn-block">
                  <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{location}} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="/predict/{{date}}/Peace%20Arch/{{direction}}">Peace Arch</a></li>
                    <li><a href="/predict/{{date}}/Pacific%20Highway/{{direction}}">Pacific Highway</a></li>
                  </ul>
                </div>
            </div>
            <div class="row top10"></div>
            <div class="row">
                <div class="btn-group btn-block">
                  <button type="button" class="btn btn-success dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{direction}} <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="/predict/{{date}}/{{location}}/Northbound">Northbound</a></li>
                    <li><a href="/predict/{{date}}/{{location}}/Southbound">Southbound</a></li>
                  </ul>
                </div>
            </div>
            <div class="row top30"></div>
            <div class="row">
                <div class="input-color">
                    <input type="text" value="Prediction" disabled="True"/>
                    <div class="color-box" style="background-color: #ff6600;"></div>
                </div>
            </div>
            <div class="row">
                <div class="input-color">
                    <input type="text" value="Baseline" disabled="True"/>
                    <div class="color-box" style="background-color: #a8c6d3;"></div>
                </div>
            </div>
            <div class="row">
                <div class="input-color">
                    <input type="text" value="Actual" disabled="True"/>
                    <div class="color-box" style="background-color: #eed05c;"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="/static/js/chartist-plugin-axistitle.min.js"></script>
<script>
$('.input-group.date').datepicker()
    .on('changeDate', function(e) {
        year = e.date.getFullYear()
        month = e.date.getMonth() + 1
        day = e.date.getDate()

        var link = ""
        link = link.concat('/predict/', year, '-', month, '-', day, '/', encodeURIComponent('{{location}}'), '/', '{{direction}}');
        window.location.href = link;
    });
</script>
<script>
var data = {
    labels : {{ labels|safe }},
    series : [ {name: 'predict', data: {{ predict|safe|replace('None', 'null')|replace('[null', '[0') |replace('nan', 'null')}} },
               {name: 'baseline', data: {{ baseline|safe|replace('None', 'null')|replace('[null', '[0') |replace('nan', 'null')}} },
               {name: 'actual', data: {{ actual|safe|replace('None', 'null')|replace('[null', '[0') |replace('nan', 'null') }} }
           ]
};

var options = {
    showPoint: false,
    low: 0,
    lineSmooth: Chartist.Interpolation.cardinal({
        tension: 1,
        fillHoles: true
    }),
    series: {
        'predict': {
            lineSmooth: Chartist.Interpolation.cardinal({
                tension: 1,
                fillHoles: true
            }),
            showArea: true
        },
        'baseline': {
            lineSmooth: Chartist.Interpolation.cardinal({
                tension: 1,
                fillHoles: true
            })
        },
        'actual': {
            lineSmooth: Chartist.Interpolation.cardinal({
                tension: 0,
                fillHoles: true
            })
        }
    },
    chartPadding: {
                    top: 0,
                    right: 0,
                    bottom: 40,
                    left: 40
                },
    plugins: [
    Chartist.plugins.ctAxisTitle({
      axisX: {
        axisTitle: 'Time of day',
        axisClass: 'ct-axis-title',
        offset: {
          x: 0,
          y: 50
        },
        textAnchor: 'middle'
      },
      axisY: {
        axisTitle: 'Average Delay (minutes)',
        axisClass: 'ct-axis-title',
        offset: {
          x: 0,
          y: 20
        },
        textAnchor: 'middle',
        flipTitle: true
      }
    })
  ]
};

new Chartist.Line('.ct-chart', data, options);
</script>
{% endblock %}
