.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: #ff6600;
  /* Control the thikness of your lines */
  stroke-width: 3px;
}

.ct-series-a .ct-area {
    fill: #ff6600;
}

.ct-series-b .ct-line {
  opacity: .3;
  stroke: #006687;
  stroke-width: 2px;
}

.ct-series-c .ct-line {
  opacity: .7;
  stroke-width: 2px;
}

.ct-label {
    font-size: 1em;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
